
.html_index {
  min-height: 100%;
}

.uncial-antiqua-regular {
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 400;
  font-style: normal;
}

.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}

.title-landing {
  font-family: "Uncial Antiqua", system-ui;
}

.todo {
  margin: 0em 1em;
}

.logo {
  justify-self: center;
  margin-top: 4em;
  position: relative;
  top: 50px;
}

.description {
  border: solid #4B1F05 1.5px;
  border-radius: 20px;
  border-style: dashed;
  font-size: small;
  text-align: center;
  font-family: "Eagle Lake", serif;
  padding: 4em 2em 2em 2em;
  box-shadow: #4B1F05 0px 3px 8px;
  max-width: 500px;
  justify-self: center;
}

.ada-roll-logo {
  max-width: 40dvw;
  min-width: 200px;

}

.subtitle-landing {
  margin-top: 1em;
}


.guide {
  border: solid #4B1F05 1.5px;
  border-radius: 20px;
  border-style: dashed;
  justify-self: center;
  padding: 1em;
  margin-top: 1em;
  display: grid;
  grid-auto-flow: column;
  font-family: "Eagle Lake", serif;
  box-shadow: #4B1F05 0px 3px 8px;
  
}

.guide-icon {
  max-width: 2em;
  gap: 20px;
  
  .begin {
    display: flex;
    justify-content: center;
  }
}

.begin {
  justify-self: center;
  margin: 2em;
  padding: 1em;
  border: solid #4B1F05 1.5px;
  border-radius: 20px;
  border-style: dashed;
  font-family: "Uncial Antiqua", system-ui;
  box-shadow: #4B1F05 0px 3px 8px;
}

.begin a {
text-decoration: none;
} 

.begin a:visited,
.begin a:hover {
  color: #4B1F05;
}

.begin:hover {
  transform: translate(0em, 0.75em)
}

@media (width > 750px) {

  .description {
    max-width: 500px;
    justify-self: center;
  }

  .ada-roll-logo {
  max-width: 300px;

}

}