@use '../core/variables' as vars;

@keyframes aparecer {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes flotar {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

.html_index {
  min-height: 100%;
}

.todo {
  margin: 0em 1em;
  animation: aparecer 1s ease-out forwards;
}

.uncial-antiqua-regular {
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 400;
  font-style: normal;
}

.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}

.title-landing {
  font-family: "Uncial Antiqua", system-ui;
  color: vars.$colorFont;
}


.logo {
  justify-self: center;
  margin-top: 4em;
  position: relative;
  top: 50px;
  animation: flotar 2s ease-in-out infinite;
}

.description {
  border: solid 1.5px vars.$colorFramework;
  border-radius: 20px;
  border-style: dashed;
  font-size: small;
  text-align: center;
  font-family: "Eagle Lake", serif;
  padding: 4em 2em 2em 2em;
  box-shadow: 0px 3px 8px vars.$colorFramework;
  max-width: 500px;
  justify-self: center;
}

.ada-roll-logo {
  max-width: 40dvw;
  min-width: 200px;

}

.subtitle-landing {
  margin-top: 1em;
  color: vars.$colorFont;
}


.guide {
  border: solid 1.5px vars.$colorFramework;
  border-radius: 20px;
  border-style: dashed;
  justify-self: center;
  padding: 1em;
  margin-top: 1em;
  display: grid;
  grid-auto-flow: column;
  font-family: "Eagle Lake", serif;
  box-shadow: 0px 3px 8px vars.$colorFramework;
  color: vars.$colorFont;
  gap: 1rem;
}

.guide-icon {
  max-width: 2em;
  gap: 20px;
  margin-left: 1rem;
  
  .begin {
    display: flex;
    justify-content: center;
  }
}

.share-icon {
  margin-left: 2rem;
}

.begin {
  justify-self: center;
  margin: 2em;
  padding: 1em;
  border: solid 1.5px vars.$colorFramework;
  border-radius: 20px;
  border-style: dashed;
  font-family: "Uncial Antiqua", system-ui;
  box-shadow: 0px 3px 8px vars.$colorFramework;
}

.begin a {
text-decoration: none;
} 

.begin a:visited,
.begin a:hover {
  color: vars.$colorFramework;
}

.begin:hover {
  transform: translate(0em, 0.75em)
}

@media (width > 750px) {

  .description {
    max-width: 500px;
    justify-self: center;
  }

  .ada-roll-logo {
  max-width: 300px;

}

}