@use '../core/variables' as vars;


.design {
  background-color: vars.$colorBg;
  font-family: vars.$fontMain;
}

.hidden {
  display: none;
}

/*-- ---- ---- ---- ----  panel desing & button ---- ---- ---- ---- --*/
.panel-design {
  display: flex;
  align-items: center;
  margin: 0rem 1rem;
  border-bottom: solid black 1.5px;
}

.pallette {
  width: 2rem;
}

.title-desing {
  font-family: "Uncial Antiqua", system-ui;
}

/*-- ---- ---- ---- ---- ---- button ---- ---- ---- ---- ---- --*/
.aroow-design {
  /* quita aspecto de botón */
  background: none;
  border: none;
  padding: 0;
}

.arrow {
  width: 2rem;
}

/*-- ---- ---- ---- ----  FIN  panel desing & button ---- ---- ---- ---- --*/
.open-panel {
  font-family: "Eagle Lake", serif;
  margin: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.background-option {
  margin: 0.5rem 0.5rem 0rem 12rem;

}


@media (min-width: 768px) {
  
}