@use '../core/variables' as vars;

.design {
    padding: 2rem;
    height: 100vh;
    background-image: url('/images/bg-adalab.png');
    background-color: vars.$colorBg;
    font-family: vars.$fontMain;
}