@use '../core/variables' as vars;

.footer {
  max-height: 100dvh;
  border-top: solid #4B1F05 1.5px;
  margin: 0rem 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}

.logo_adalab {
    max-height: 4dvh;
}



