@use '../core/variables' as vars;

.page__footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 1rem;
    color: vars.$colorSecundary;
}

.footer {
  max-width: 100dvw;
  border-top: solid black 1.5px;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_adalab {
    max-height: 4dvh;
}
