@use "../core/variables" as vars;

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.preview-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: vars.$fontMain;
}

.card-container {
  background-image: url("../Fondos/Dados.png");
  background-position: top;
  position: relative;
  border: solid #4B1F05 0.8px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.70);
  padding: 2rem;
  width: 350px;
  text-align: center;
  animation: aparecer 1s ease-out forwards;
}

.bg-papiro {
  background-image: url("../Fondos/papiro.png");
}

.bg-piedra {
  background-image: url("../Fondos/piedra.png");

  * {
    color: rgb(215, 210, 210) !important;
  }
}

.bg-madera {
  background-image: url("../Fondos/madera.png");

  * {
    color: #f3e0c1 !important;
  }
}

.reset-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: vars.$fontMain;
  background-color: rgb(114, 13, 34);
  color: white;
  border: solid 1px black;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.reset-btn:hover {
  background-color: #b3002d;
}

.character-photo {
  width: 18rem;
  height: 18rem;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-image: url(../../images/dark-elf.png);
}

.character-name {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: vars.$colorFont;
}

.character-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  text-align: left;
  color: vars.$colorFont;
}

.character-details .column {
  width: 48%;
}

.character-details p {
  margin: 0.5rem 0;
  font-size: 0.95rem;
}

.share-url {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  word-break: break-all;
  color: vars.$colorFont;
}

.share-url a {
  color: #0077cc;
  text-decoration: none;
}

.share-url a:hover {
  text-decoration: underline;
}