@use '../core/variables' as vars;

.share {
  display: flex;
  border-bottom: solid 0.1rem vars.$colorFramework;
  height: 1.5rem;
  margin-inline: 1rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.share_h3 {
  font-family: vars.$fontTitle;
  font-size: 1.17em;
  color: vars.$colorFont;
  width: 2em;
  height: 2em;
}

.share_img {
  width: 2em;
  height: 2em;
  margin-top: -0.5em;
}

.share_arrow {
  width: 2em;
  height: 2em;
  margin-left: 4em;
  margin-top: -0.6em;
}


.share_button_create {
  display: flex;
  justify-content: center;
  border-bottom: solid 0.1em vars.$colorFramework;
  padding: 0.5em;
  margin-inline: 1rem;
  margin-bottom: 1em;
}

.share_button {
  font-family: vars.$fontMain;
  color: vars.$colorFont;
}

.share_card {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.share_card_h3 {
  font-family: vars.$fontTitle;
  font-size: 1em;
  color: vars.$colorFont;
  margin-bottom: 1em;
}

.share_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 2em;
}

.share_nav button {
  font-family: vars.$fontMain;
  color: vars.$colorFont;
}

@media (min-width: 768px) {}