<link rel="stylesheet" href="../scss/core/_variables.scss">


<section class="design js_titleDesign collapsed">
  <!-- ---- ---- ---- panel desing & arrow ---- ---- ---- -->
  <div class="panel-design">
    <img class="pallette" src="../images/icons/pallette.png">
    <h3 class="title-desing">Diseña</h3>
    <img class="arrow_design" src="../images/icons/arrow.png" alt="Abrir y cerrar panel">
  </div>
  <!-- ---- ---- ---- FIN   panel desing & arrow ---- ---- ---- -->
  <section class="hidden js_designSection">
    <div class="open-panel">
      <p>Fondos:</p>
      <!-- ---- ---- ---- ---- ---- ---- -->
      <label class="background-option">
        <div class="element">
          <input type="radio" name="background" value="papiro">
          <img class="background-images" src="../images/background/miniature/papiro-miniature.png" alt="Fondo Papiro">
        </div>
        <!-- ---- ---- ---- ---- ---- ---- -->
      </label>
      <label class="background-option">
        <div class="element">
          <input type="radio" name="background" value="piedra">
          <img class="background-images" src="../images/background/miniature/piedra-miniature.png" alt="Fondo Piedra">
        </div>
        <!-- ---- ---- ---- ---- ---- ---- -->
      </label>
      <label class="background-option">
        <div class="element">
          <input type="radio" name="background" value="madera">
          <img class="background-images" src="../images/background/miniature/madera-miniature.png" alt="Fondo Madera">
        </div>
      </label>
    </div>
  </section>
</section>