<link rel="stylesheet" href="../scss/core/_variables.scss">


<section class="design">
  <!-- ---- ---- ---- panel desing & button ---- ---- ---- -->
  <div class="panel-design">
    <img class="pallette" src="../images/icons/pallette.png">
    <h3 class="title-desing">Diseña</h3>
    <!-- ---- ---- ---- button ---- ---- ---- -->
    <button class="aroow-design">
      <img class="arrow" src="../images/icons/arrow.png" alt="Abrir y cerrar panel">
    </button>
  </div>
  <!-- ---- ---- ---- FIN   panel desing & button ---- ---- ---- -->
  <div class="open-panel">
    <p>Fondos</p>
    <!-- ---- ---- ---- ---- ---- ---- -->
    <label class="background-option">
      <div class="element">
        <input type="radio" name="background" value="papiro">
        <img class="background-images" src="../images/background/miniature/papiro-miniature.png" alt="Fondo Papiro">
      </div>
      <!-- ---- ---- ---- ---- ---- ---- -->
    </label>
    <label class="background-option">
      <div class="element">
        <input type="radio" name="background" value="piedra">
        <img class="background-images" src="../images/background/miniature/piedra-miniature.png" alt="Fondo Piedra">
      </div>
      <!-- ---- ---- ---- ---- ---- ---- -->
    </label>
    <label class="background-option">
      <div class="element">
        <input type="radio" name="background" value="metal">
        <img class="background-images" src="../images/background/miniature/madera-miniature.png" alt="Fondo Madera">
      </div>
    </label>
  </div>
</section>