
<div class="fill_form_title">
  <img src="../images/icons/feather.png" alt="pluma" class="feather">
  <h3 class="fill">Rellena</h3>
  <img src="../images/icons/arrow.png" alt="flecha" class="arrow">
</div>

<form class="fill_form">
  <div class="form-section">
    <div class="content">
      <label for="name">Nombre:
       <input class="input_name" placeholder="Ej: Silvara Thorngrove" type="text" name="name" /></label>
    </div>

    <div class="content">
      <label for="race">Raza:
        <select class="input_race" id="race" name="race">
          <option value="highelf">Alto Elfo</option>
          <option value="darkelf">Elfo Oscuro</option>
          <option value="githyanki">Githyanki</option>
          <option value="human">Humano</option>
        </select>
      </label>
    </div>

    <div class="content">
      <label for="gender">Género: </label>
      <select class="input_gender" id="race" name="race">
        <option value="female">Mujer</option>
        <option value="male">Hombre</option>
        <option value="nonbinarie">No binarie</option>
      </select>
    </div>

    <div class="content">
      <label for="image">Imagen: 
        <input type="file" class="input_image">
        <img class="square_preview" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_vJ1EhmCqCEBzNaDu2OJ8TPVSvDgFkEjJvaIY5lBK2ZeD2I8smsO0RWFR1ZWoSWJjTOQ&usqp=CAU" alt="cuadrado preview">
      </label>
    </div>

    <div class="content">
      <label for="class">Clase: </label>
      <select class="input_class" id="race" name="race">
        <option value="warrior">Guerrero</option>
        <option value="archer">Arquero</option>
        <option value="mage">Mago</option>
        <option value="cleric">Clérigo</option>
      </select>
    </div>

    <div class="content">
      <label for="age">Edad: 
        <input class="input_age" placeholder="Ej: 450" type="number" name="age"></label>
    </div>

    <div class="content">
      <label for="afiliation">Afiliación: </label>
      <select class="input_afiliation" id="affiliation" name="affiliation">
        <option value="childrenofthelight">Hijos de la Luz</option>
        <option value="servantsofthedarkness">Siervos de la Oscuridad</option>
        <option value="crystalpeople">Gentes del Cristal</option>
      </select>
    </div>
  </div>
</form>