<div class="fill_form_title js_titleFill">
  <img src="../images/icons/feather.png" alt="pluma" class="feather" />
  <h3 class="fill">Rellena</h3>
  <img src="../images/icons/arrow.png" alt="flecha" class="arrow_fill" />
</div>

<section class="hidden js_fillSection">
  <form class="fill_form">
    <div class="form-section">
      <div class="content">
        <label for="name"
          >Nombre:
          <input
            class="input_name js_input_name"
            placeholder="Ej: Silvara Thorngrove"
            type="text"
            name="name"
        /></label>
      </div>

      <div class="content">
        <label for="race"
          >Raza:
          <select class="input_race js_input_race" id="race" name="race">
            <option value="" selected disabled>Selecciona tu raza</option>
            <option>Alto Elfo</option>
            <option>Elfo Oscuro</option>
            <option>Githyanki</option>
            <option>Humano</option>
          </select>
        </label>
      </div>

      <div class="content">
        <label for="gender">Género: </label>
        <select class="input_gender js_input_gender" id="race" name="race">
          <option value="" selected disabled>Selecciona tu género</option>
          <option>Mujer</option>
          <option>Hombre</option>
          <option>No binarie</option>
        </select>
      </div>

      <div class="content">
        <label for="image"
          >Imagen:
          <input type="file" class="input_image js_input_image" />
          <img
            class="square_preview"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_vJ1EhmCqCEBzNaDu2OJ8TPVSvDgFkEjJvaIY5lBK2ZeD2I8smsO0RWFR1ZWoSWJjTOQ&usqp=CAU"
            alt="cuadrado preview"
          />
        </label>
      </div>

      <div class="content">
        <label for="class">Clase: </label>
        <select class="input_class js_input_class" id="class" name="class">
          <option value="" selected disabled>Selecciona tu clase</option>
          <option>Guerrero</option>
          <option>Arquero</option>
          <option>Mago</option>
          <option>Clérigo</option>
        </select>
      </div>

      <div class="content">
        <label for="age"
          >Edad:
          <input
            class="input_age js_input_age"
            placeholder="Ej: 450"
            type="number"
            name="age"
        /></label>
      </div>

      <div class="content">
        <label for="affiliation">Afiliación: </label>
        <select
          class="input_affiliation js_input_affiliation"
          id="affiliation"
          name="affiliation"
        >
          <option value="" selected disabled>Selecciona tu Afiliación</option>
          <option>Hijos de la Luz</option>
          <option>Siervos de la Oscuridad</option>
          <option>Gentes del Cristal</option>
        </select>
      </div>
    </div>
  </form>
</section>
