<section class="preview-section hidden">
  <div class="card-container js_container_preview">
    <button class="reset-btn js_reset_btn">Borrar</button>

    <div class="character-card">
      <div class="character-photo js_image_preview js__profile-image"></div>
      <h2 class="character-name js_name_preview">Nombre del personaje</h2>

      <div class="character-details">
        <div class="column">
          <p>
            <strong>Raza:</strong>
          <article class="raza js_race_preview"></article>
          </p>
          <p>
            <strong>Género:</strong>
          <article class="género js_gender_preview"></article>
          </p>
          <p>
            <strong>Clase:</strong>
          <article class="clase js_class_preview"></article>
          </p>
        </div>
        <div class="column">
          <p>
            <strong>Edad:</strong>
          <article class="edad js_age_preview"></article>
          </p>
          <p>
            <strong>Afiliación:</strong>
          <article class="afiliación js_affiliation_preview"></article>
          </p>
        </div>
      </div>
    </div>

    <div class="share-url">
      <p>Tu tarjeta está disponible en:</p>
      <a class="js_shareLink" href="https://dev.adalab.es/api/info/data"
        class="preview-url js_preview_url js_shareLink">https://</a>
    </div>
  </div>
</section>