<section id="preview-section">
  <div class="card-container">
    <button id="reset-btn">Reset</button>
    <div class="" character-card>
      <div class="character-photo" id="photo-preview"></div>
      <h2 id="character-name">Nombre del personaje</h2>
      <div class="character-details">
        <div class="column">
          <p><strong>Sexo:</strong> <span id="sexo"></span></p>
          <p><strong>Raza:</strong> <span id="raza"></span></p>
          <p><strong>Edad:</strong> <span id="edad"></span></p>
        </div>
        <div class="column">
          <p><strong>Afiliación:</strong> <span id="afiliacion"></span></p>
          <p><strong>Clase:</strong> <span id="poderes"></span></p>
          <p><strong>Arma:</strong> <span id="arma"></span></p>
        </div>
      </div>
    </div>
    <div class="share-url">
      <p>Tu tarjeta está disponible en:</p>
      <a href="#" id="preview-url">https://</a>
    </div>
  </div>
</section>