<section class="preview-section hidden">
  <div class="card-container js_container_preview">
    <button class="reset-btn js_reset_btn">Borrar</button>

    <div class="character-card">
      <div class="character-photo js_image_preview"></div>
      <h2 class="character-name js_name_preview">Nombre del personaje</h2>

      <div class="character-details">
        <div class="column">
          <p>
            <strong>Raza:</strong> <p class="raza js_race_preview"></p>
          </p>
          <p>
            <strong>Género:</strong>
            <p class="género js_gender_preview"></p>
          </p>
          <p>
            <strong>Clase:</strong>
            <p class="clase js_class_preview"></p>
          </p>
        </div>
        <div class="column">
          <p>
            <strong>Edad:</strong> <p class="edad js_age_preview"></p>
          </p>
          <p>
            <strong>Afiliación:</strong>
            <p class="afiliación js_affiliation_preview"></p>
          </p>
          <!-- <p><strong>Arma:</strong> <p class="arma">-</p></p> -->
        </div>
      </div>
    </div>

    <div class="share-url">
      <p>Tu tarjeta está disponible en:</p>
      <a class="js-shareLink" href="https://dev.adalab.es/api/info/data" class="preview-url js_preview_url js_shareLink">https://</a>
    </div>
  </div>
</section>
