<div class="share">
  <img class="share_img" src="../images/icons/papiro.png" alt="share_img">
  <h3 class="share_h3">Comparte</h3>
  <a href=""><img class="share_arrow" src="../images/icons/arrow.png" alt="share_arrow"></a>
</div>
<div class="share_button_create">
  <button class="share_button">Crear Tarjeta</button>
</div>
<div class="share_card">
  <h3 class="share_card_h3">La tarjeta ha sido creada</h3>
</div>
  <nav class="share_nav">
    <button>Compartir en Instagram</button>
    <button>Compartir en Twitter</button>
    <button>Compartir en Facebook</button>
    <button>Compartir en Whatsapp</button>
    <button>Compartir en Email</button>
  </nav>