<div class="share js_titleShare">
  <img class="share_img" src="../images/icons/papiro.png" alt="share_img">
  <h3 class="share_h3">Comparte</h3>
  <img class="arrow_share" src="../images/icons/arrow.png" alt="share_arrow">
</div>
<section class="share_section hidden js_shareSection">
  <div class="share_button_create">
    <button class="cardCreateButton js_card_create_button">Crear Tarjeta</button>
  </div>
  <div class="share_card">
    <h3 class="share_card_h3 js_shareSuccessBox hidden">La tarjeta ha sido creada</h3>
    <span class="js_shareFailBox shareFailBox hidden">No se pudo crear la tarjeta. Por favor, rellene todos los
      campos.</span>
  </div>
  <nav class="share_nav js_shareNav hidden">
    <a href="https://dev.adalab.es/api/info/data" class="js-shareInInsLink">Compartir en Instagram</a>
    <a href="https://dev.adalab.es/api/info/data" class="js-shareInTwiLink">Compartir en Twitter</a>
    <a href="https://dev.adalab.es/api/info/data" class="js-shareInFacLink">Compartir en Facebook</a>
    <a href="https://dev.adalab.es/api/info/data" class="js-shareInWhaLink">Compartir en Whatsapp</a>
    <a href="https://dev.adalab.es/api/info/data" class="js-shareInEmaLink">Compartir en Email</a>
  </nav>



</section>