@use 'core/reset';
@use 'core/variables';
@use 'components/code';
@use 'components/links';
@use 'layout/design';
@use 'layout/fill';
@use './layout/preview';
@use 'layout/share';
@use 'layout/header';
@use 'layout/footer';
@use 'pages/index';

/*.collapsed .arrow {
    rotate: 180deg;
}*/

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.design_section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .design_section {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    width: 768px;
    border: solid #4B1F05 0.5px;
    border-radius: 20px;
    box-shadow: 0px 3px 8px #4B1F05;
    ;
    padding: 1rem;
    margin: 1rem;
    justify-self: center;
    animation: aparecer 1s ease-out forwards;
  }

  .preview-section {
    min-height: fit-content;
  }

  .design_div {
    flex: 2;
    /* más ancho */
  }

  .preview_div {
    flex: 1;
    /* más estrecho */
  }

  .open-panel {
    width: 100px;
  }
}